.button-group .btn:first-of-type {
  margin-right: 10px; }

.btn {
  border-radius: 0;
  padding: 8px 12px; }
  .btn .button-icon {
    max-height: 100%;
    height: 18px;
    margin-right: 5px; }
  .btn.btn-primary {
    background-color: #3db5c7;
    border-color: #3db5c7; }
    .btn.btn-primary:hover {
      background-color: #2c8394;
      border-color: #2c8394; }
  .btn.btn-secondary {
    background-color: transparent;
    border: 1px solid #3db5c7;
    color: #3db5c7; }
    .btn.btn-secondary:hover {
      color: white;
      background-color: #3db5c7; }

.navbar {
  padding: 18px 60px;
  border-bottom: 1px solid #e5e5e5;
  background-color: white; }
  .navbar .navbar-brand img {
    width: 85px; }
  .navbar .navbar-nav .nav-item {
    padding-left: 15px;
    padding-right: 15px; }
    .navbar .navbar-nav .nav-item .nav-link {
      color: rgba(0, 0, 0, 0.6); }
      .navbar .navbar-nav .nav-item .nav-link:hover {
        color: rgba(0, 0, 0, 0.9); }

.hero {
  margin-top: 180px;
  padding-bottom: 80px; }
  .hero .container {
    max-width: 1280px; }
  .hero .hero-text {
    justify-content: center;
    display: flex;
    flex-direction: column; }
    .hero .hero-text h1 {
      font-weight: bold;
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.07em;
      text-transform: capitalize; }
    .hero .hero-text p {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 40px; }
  .hero .hero-graphic {
    width: 100%;
    display: flex;
    justify-content: center; }
    .hero .hero-graphic .video {
      width: 100%;
      max-width: 540px; }
      .hero .hero-graphic .video img {
        width: 100%; }

@media only screen and (max-width: 767px) {
  .hero .hero-graphic {
    margin-top: 40px; } }

.video {
  position: relative;
  box-shadow: 1px 4px 26px rgba(0, 0, 0, 0.28);
  overflow: hidden;
  border-radius: 8px;
  transition-duration: .2s; }
  .video img {
    max-height: 360px;
    object-fit: cover; }
  .video .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block; }
  .video .video-overlay-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center; }
    .video .video-overlay-ui .play-container {
      width: 100px;
      height: 60px;
      border-radius: 8px;
      transition-duration: .2s;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3db5c7; }
      .video .video-overlay-ui .play-container .play-icon {
        height: 2px;
        border-style: solid;
        border-color: transparent transparent transparent #fefefe;
        border-width: 15px 0 15px 24px;
        left: 3px;
        position: relative; }
  .video:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.33); }
    .video:hover .play-container {
      transform: scale(1.1); }

.services h2 {
  letter-spacing: 1px;
  width: 100%; }

.services p {
  width: 100%;
  color: rgba(13, 13, 13, 0.7);
  letter-spacing: 1px; }
  .services p a {
    text-decoration: underline;
    color: #3db5c7; }
    .services p a:hover {
      color: #2c8394; }

.services .service {
  position: relative;
  box-shadow: 1px 4px 26px rgba(0, 0, 0, 0.28);
  overflow: hidden;
  border-radius: 8px;
  transition-duration: .2s; }
  .services .service .thumbnail img {
    height: 160px;
    width: 100%;
    object-fit: cover; }
  .services .service .details {
    padding: 15px; }
    .services .service .details h4 {
      font-size: 16px;
      font-weight: bold; }
    .services .service .details p {
      margin-bottom: 5px;
      font-size: 14px; }
  .services .service .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block; }
  .services .service .video-overlay-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center; }
    .services .service .video-overlay-ui .play-container {
      width: 60px;
      height: 40px;
      border-radius: 8px;
      transition-duration: .2s;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3db5c7; }
      .services .service .video-overlay-ui .play-container .play-icon {
        height: 2px;
        border-style: solid;
        border-color: transparent transparent transparent #fefefe;
        border-width: 9px 0 9px 15px;
        left: 3px;
        position: relative; }
  .services .service:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.33); }
    .services .service:hover .play-container {
      transform: scale(1.1); }

html,
body,
div,
p,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
a {
  font-family: 'Lato', sans-serif; }

body {
  background-color: white; }

section:not(.hero) {
  padding-top: 80px;
  padding-bottom: 80px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }
