.hero {
  margin-top: 180px;
  padding-bottom: 80px;

  .container {
    max-width: 1280px;
  }

  .hero-text {
    justify-content: center;
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: bold;
      font-size: 48px;
      line-height: 55px;

      letter-spacing: 0.07em;
      text-transform: capitalize;
    }

    p {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  .hero-graphic {
    width: 100%;
    display: flex;
    justify-content: center;

    .video {
      width: 100%;
      max-width: 540px;

      img {
        width: 100%;
        max-height: none;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    .hero-graphic {
      margin-top: 40px;
    }
  }
}
