.services {
  h2 {
    letter-spacing: 1px;
    width: 100%;
  }

  p {
    width: 100%;
    color: rgba(13, 13, 13, 0.7);
    letter-spacing: 1px;

    a {
      text-decoration: underline;
      color: $primary-color;

      &:hover {
        color: $primary-color-hover;
      }
    }
  }

  .service {
    position: relative;
    box-shadow: 1px 4px 26px rgba(0, 0, 0, 0.28);
    overflow: hidden;
    border-radius: 8px;
    transition-duration: .2s;

    .thumbnail {
      img {
        height: 160px;
        width: 100%;
        object-fit: cover;
      }
    }

    .details {
      padding: 15px;

      h4 {
        font-size: 16px;
        font-weight: bold;
      }

      p {
        margin-bottom: 5px;
        font-size: 14px;
      }
    }

    .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      display: block;
    }

    .video-overlay-ui {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 160px;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;

      .play-container {
        width: 60px;
        height: 40px;
        border-radius: 8px;
        transition-duration: .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;

        .play-icon {
          height: 2px;
          border-style: solid;
          border-color: transparent transparent transparent #fefefe;
          border-width: 9px 0 9px 15px;
          left: 3px;
          position: relative;
        }
      }
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 7px 30px rgba(0, 0, 0, 0.33);

      .play-container {
        transform: scale(1.1);
      }
    }
  }
}
