@import './partials/variables';
@import 'partials/buttons';
@import 'partials/headers';
@import 'partials/nav';
@import 'partials/hero';
@import 'partials/video';
@import 'partials/videos';
@import 'partials/services';
@import 'partials/book-now';
@import 'partials/team';
@import 'partials/contact-us';

html,
body,
div,
p,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
a {
  font-family: 'Lato', sans-serif;
}

a {
  color: $primary-color;

  &:hover {
    color: $primary-color-hover;
  }
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

iframe {
  overflow: hidden;
}

body {
  background-color: white;
}

section:not(.hero) {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}
