@import './partials/variables';
@import 'partials/buttons';
@import 'partials/nav';
@import 'partials/hero';
@import 'partials/video';
@import 'partials/services';

html,
body,
div,
p,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
a {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: white;
}

section:not(.hero) {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}
